<p>
  <strong><%= t('activerecord.attributes.equipment.system_model_id') %>:</strong>
  <%= equipment.system_model.name %>
</p>

<p>
  <strong><%= t('activerecord.attributes.equipment.serial_number') %>:</strong>
  <%= equipment.serial_number %>
</p>
