<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @system_model.name %>
</p>

<%= link_to 'Edit', edit_system_model_path(@system_model) %> |
<%= link_to 'Back', system_models_path %>
