<% breadcrumb :inspection_schedule_edit %>
<h1><%= t('views.inspection_schedule.edit') %></h1>

<%= render 'form' %>

<%= link_to 'Show', @inspection_schedule %> |
<%= link_to 'Back', inspection_schedules_path %>
