<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @result_status.name %>
</p>

<%= link_to 'Edit', edit_result_status_path(@result_status) %> |
<%= link_to 'Back', result_statuses_path %>
